<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Results</title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <img src="static/images/modjoul-logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Modjoul Image">
          Modjoul RFID Test Tool
        </a>
      </nav>
      <table class="table">
          <thead>
              <tr>
                  {% for key in total_dict[0].keys() %}
                    <th scope="col">{{key}}</th>
                    {% endfor %}
                </tr>
            </thead>
        <tbody>
            {% for row in total_dict %}
            <tr>
                {% for val in row.values()%}
                        <td>{{val}}</td>
                        {% endfor %}
                </tr>
                {% endfor %}
        </tbody>
      </table>
      
</body>
</html>